.authTitle {
    text-align: center;
}

.authForm {
    background: #ebd234;
    padding: 3em 0;
    margin-top: 2em;
    margin-right: 10%;
    margin-left: 10%;
}

.submitButton {
  margin-top: 40px;
}

.alternateOption {
  text-align: center;
}